.social {

    margin: 0 auto;
    transform: translateZ(0);
}
    
.social a {
    position: relative;
    margin: 0.3rem 0.5rem 0rem;
    display: inline-block;
    font-size: 50px;
    text-decoration: none;
    transition: all 0.25s;
}

  .social a:hover {

      transform: scale(1.2);
    }
      
    .social a:after {

        opacity: 1;
        transform: scale(1) translate(-50%, 0);
    }

  .social a:active {

      transform: scale(1.1);
    }

 .social a:after {

      content: "@" attr(data-user);
      font-size: 12px;
      position: absolute;
      top: 100%;
      left: 50%;
      text-align: center;
      opacity: 0;
      transform-origin: 0 0;
      transform: scale(0) translate(-50%, -100px);
      transition: transform 0.25s ease 0.25s, opacity 0.25s;
    }